.app {
  display: flex;
  position: relative;
  padding: 2rem;
}

.content {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;

  textarea {
    background: var(--color1);

    padding: 1rem;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.2rem;
    color: var(--color4);

    min-width: 50%;
    min-height: 30rem;

    resize: vertical;

    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

    &::-webkit-resizer {
      border-width: 1px;
      border-style: solid;
      border-color: transparent var(--color3) var(--color3) transparent;
      padding: 1rem;
    }

    &::placeholder {
      font-family: Roboto, Arial, sans-serif;
      font-size: 1.2rem;

      color: var(--placeholder-color);

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}