.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  &:last-child div{
    width: 100%;

    @media only screen and (max-width: 750px) {
      grid-area: div;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  gap: .5rem

  h1 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}