.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  align-items: flex-end;

  &:last-child div{
    width: 100%;

    @media only screen and (max-width: 750px) {
      grid-area: div;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  gap: .5rem

  h1 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.loader:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--foreground-color);
  border-color: var(--blue-color) transparent var(--blue-color) transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

