* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// @import url(./light-theme.scss);
@import url(./dark-theme.scss);

body {
  background: var(--color2);
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color4)
}